@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@{
    // Example 2 - Using a test json with single and multiple categories
    
    string json =

    @"[
        {
            ""email"": ""john.doe@sendgrid.com"",
            ""sg_event_id"": ""VzcPxPv7SdWvUugt-xKymw"",
            ""sg_message_id"": ""142d9f3f351.7618.254f56.filter-147.22649.52A663508.0"",
            ""timestamp"": 1386636112,
            ""smtp-id"": ""<142d9f3f351.7618.254f56@sendgrid.com>"",
            ""event"": ""processed"",
            ""category"": ""category1"",
            ""id"": ""001"",
            ""purchase"":""PO1452297845"",
            ""uid"": ""123456""
        },
        {
            ""email"": ""not an email address"",
            ""smtp-id"": ""<4FB29F5D.5080404@sendgrid.com>"",
            ""timestamp"": 1386636115,
            ""reason"": ""Invalid"",
            ""event"": ""dropped"",
            ""category"":[""category1"",""category2"",""category3""],
            ""id"": ""001"",
            ""purchase"":""PO1452297845"",
            ""uid"": ""123456""
        },
        {
            ""email"": ""john.doe@sendgrid.com"",
            ""sg_event_id"": ""vZL1Dhx34srS-HkO-gTXBLg"",
            ""sg_message_id"": ""142d9f3f351.7618.254f56.filter-147.22649.52A663508.0"",
            ""timestamp"": 1386636113,
            ""smtp-id"": ""<142d9f3f351.7618.254f56@sendgrid.com>"",
            ""event"": ""delivered"",
            ""category"":[""category1"",""category2"",""category3""],
            ""id"": ""001"",
            ""purchase"":""PO1452297845"",
            ""uid"": ""123456""
        },
        {
            ""email"": ""john.smith@sendgrid.com"",
            ""timestamp"": 1386636127,
            ""uid"": ""123456"",
            ""ip"": ""174.127.33.234"",
            ""purchase"": ""PO1452297845"",
            ""useragent"": ""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"",
            ""id"": ""001"",
            ""category"": [""category1"",""category2"",""category3""],
            ""event"": ""open""
        },
        {
            ""uid"": ""123456"",
            ""ip"": ""174.56.33.234"",
            ""purchase"":""PO1452297845"",
            ""useragent"":""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"",
            ""event"":""click"",
            ""email"": ""john.doe@sendgrid.com"",
            ""timestamp"":1386637216,
            ""url"":""http://www.google.com/"",
            ""category"":[""category1"",""category2"",""category3""],
            ""id"":""001""
        },
        {
            ""uid"": ""123456"",
            ""status"": ""5.1.1"",
            ""sg_event_id"": ""X_C_clhwSIi4EStEpol-SQ"",
            ""reason"": ""550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at http: //support.google.com/mail/bin/answer.py?answer=6596 do3si8775385pbc.262 - gsmtp "",
            ""purchase"": ""PO1452297845"",
            ""event"": ""bounce"",
            ""email"": ""asdfasdflksjfe@sendgrid.com"",
            ""timestamp"": 1386637483,
            ""smtp-id"": ""<142da08cd6e.5e4a.310b89@localhost.localdomain>"",
            ""type"": ""bounce"",
            ""category"": [""category1"",""category2"",""category3""],
            ""id"": ""001""
        },
        {
            ""email"":""john.doe@gmail.com"",
            ""timestamp"":1386638248,
            ""uid"":""123456"",
            ""purchase"":""PO1452297845"",
            ""id"":""001"",
            ""category"":[""category1"",""category2"",""category3""],
            ""event"":""unsubscribe""
        }
    ]";

    // Creates new object to receive the events
    SendGridEvents sendGridEvents = new SendGridEvents();

    // Creates new instance of the webhook json processor
    SendGridWebHookProcess sendGridWebHookProcess = new SendGridWebHookProcess();

    // Process the json into the object
    sendGridEvents = sendGridWebHookProcess.json(json);
}
<!DOCTYPE HTML>
<html>

    <head>
        <title>Processing an example json from SendGrid Events WebHook</title>
    </head>

    <body>

        <p>Original json:</p>
        <span>@json</span>

        <p>Processed object(s):</p>

        @*Do something with the received events*@
        @foreach (SendGridEvent sendGridEvent in sendGridEvents)
        {
            <span>sg_event_id: @sendGridEvent.sg_event_id</span><br />
            <span>sg_message_id: @sendGridEvent.sg_message_id</span><br />
            <span>email: @sendGridEvent.email</span><br />
            <span>timestamp: @sendGridEvent.timestamp</span><br />
            <span>date: @sendGridEvent.date</span><br />
            <span>smtp_id: @sendGridEvent.smtp_id</span><br />
            <span>sendgrid_event: @sendGridEvent.sendgrid_event</span><br />
            <span>response: @sendGridEvent.response</span><br />
            <span>attempt: @sendGridEvent.attempt</span><br />
            <span>ip: @sendGridEvent.ip</span><br />
            <span>useragent: @sendGridEvent.useragent</span><br />
            <span>url: @sendGridEvent.url</span><br />
            <span>reason: @sendGridEvent.reason</span><br />
            <span>status: @sendGridEvent.status</span><br />
            <span>type: @sendGridEvent.type</span><br />
            <span>asm_group_id: @sendGridEvent.asm_group_id</span><br />

            if (sendGridEvent.categories != null)
            {
                for (int i = 0; i <= sendGridEvent.categories.Count - 1; i++)
                {
                    <span>category@(i + 1): @sendGridEvent.categories[i]</span><br />
                }
            }
            else
            {
                <span>category: @sendGridEvent.category</span><br />
            }

            if (sendGridEvent.newsletter != null)
            {
                <span>newsletter_user_list_id: @sendGridEvent.newsletter.newsletter_user_list_id</span><br />
                <span>newsletter_id: @sendGridEvent.newsletter.newsletter_id</span><br />
                <span>newsletter_send_id: @sendGridEvent.newsletter.newsletter_send_id</span><br />
            }

            if (sendGridEvent.pool != null)
            {
                <span>pool name: @sendGridEvent.pool.name</span><br />
                <span>pool id: @sendGridEvent.pool.id</span><br />
            }
            
            <span>Unique Arguments id: @sendGridEvent.id</span><br />
            <span>Unique Arguments purchase: @sendGridEvent.purchase</span><br />
            <span>Unique Arguments uid: @sendGridEvent.uid</span><br />
            
            <p></p>
        }

    </body>
</html>

